.link {
    stroke: black;
    stroke-opacity: .6;
    stroke-width: 3px;
}

#graph {
    border: black 2px solid;
}

.table-entry, .table-title {
    border: black 2px solid;
}

.table-hover:hover {
    background: lightgrey;
}

/* .table-entry:hover + .answer {
    opacity: 1;
} */

.user-input-table {
  border : black 2px solid;
}

.answer {
    padding-left: 5px;
    opacity: 0;
}

.scroll {
    max-height: 100vh;
    overflow-y: auto;

}

.remove-margin-right {
    margin-right: 0px;
}

.scrollable {
    height: 345px;
    overflow-y: scroll;
}

.stuck {
    stroke: black;
    stroke-width: 1px;
}

.unstuck:hover {
    stroke: black;
    stroke-width: 1px;
    stroke-opacity: 0.5;
}

#particles-js {
    position: absolute;
}

html {
    height: 100%;
}

.activated {
    background: lightblue;
}

.correct {
    background: lightgreen;
}

.false {
    background: red;
}


.switch {
    position: relative;
    display: inline-block;
    width: 44px;
    height: 26px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: green;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider-lit {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:red;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider-lit:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:checked + .slider-lit {
    background-color:green;
  }

  input:focus + .slider-lit {
    box-shadow: 0 0 1px green;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider-lit:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 26px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .slider-lit.round {
    border-radius: 26px;
  }
  
  .slider-lit.round:before {
    border-radius: 50%;
  }

  #graphContainer {
    border: black 2px solid;
  }

  .lineCut {
    stroke: steelblue;
    stroke-width: 2px;
    stroke-linecap: round;
}

.lineGreyed {
  stroke-width: 2px;
  stroke-linecap: round;
  opacity: 0.66;
}

.complete {
  border: green 2px solid;
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%; /* aspect ratio */
  vertical-align: top;
  overflow: hidden;
}
.svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0;
}

svg .rect {
  fill: gold;
  stroke: steelblue;
  stroke-width: 5px;
}

#userFeedbackTable {
  min-height: 300px;
  border: solid 1px black;
  width: 100%;
}

#answers {
  max-height: 300px;
  overflow: auto;
  border: solid 1px;
}

.exercise {
  border-bottom: solid 1px black;
  border-radius: 2.5%;
}

#userFeedbackTableEx1 {
  min-height: 150px;
  border: solid 1px black;
  width: 100%;
}

.fl {
  font-size: 23px;
  font-weight: 300;
}